[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggvfields"]
	path = ggvfields
	url = https://github.com/dusty-turner/ggvfields
